.bg-primary {
  background-image: url('../src/imgs/fondo.png');
  background-size: 100%;
  background-repeat: no-repeat;
}


.registrate {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

@font-face {
  font-family: PoppinsBold;
  src: url("../src/fonts/Poppins-Bold.ttf");
}

@font-face {
  font-family: Poppins;
  src: url("../src/fonts/Poppins-Regular.ttf");
}

.iniciar {
  box-shadow: 1px 2px #c75ed1;
  margin-top: 120px;
}

.imagen {
  margin-top: 150px;
}

@media screen and (max-width: 600px) {
  .imagen{
  display:none;
  }
}